@import 'tailwindcss';

@import './color.css';
@import './font.css';
@import './text.css';

body {
    background: var(--tgui--secondary_bg_color, #181818);
    height: 100vh;
    overflow: hidden;
}

#app {
    height: 100%;
    overflow-y: scroll;
    margin-top: calc(
        var(--tg-safe-area-inset-top, 0px) +
            var(--tg-content-safe-area-inset-top)
    );
    margin-bottom: calc(
        var(--tg-safe-area-inset-bottom, 0px) +
            var(--tg-content-safe-area-inset-bottom)
    );
    margin-left: calc(
        var(--tg-safe-area-inset-left, 0px) +
            var(--tg-content-safe-area-inset-left)
    );
    margin-right: calc(
        var(--tg-safe-area-inset-right, 0px) +
            var(--tg-content-safe-area-inset-right)
    );
    padding-bottom: 2rem;
}

::-webkit-scrollbar {
    display: none;
}

input[type='time']::-webkit-calendar-picker-indicator,
input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
}

.tgui-56b2e897ed7ccb22 > .tgui-8ca550c2fc85eff5 {
    padding: 0;
    background: transparent;
}

.tgui-919c5658483cae11 svg {
    margin-left: 1rem;
}

.tgui-7707c5d942b7b9af .tgui-0f5050defacbf813 {
    background: var(--tgui--section_bg_color);
}
